<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remove Control Agent</title>
    <style>
        h1 {
          color: green;
        }
    </style>
</head>
<body>
<h1>Remove a control agent of User {{username}}</h1>
<form action="#" method="post">
    <label for="control_agent_ip">IP Address:</label>
    <input type="text" id="control_agent_ip" name="control_agent_ip" />
    <label for="control_agent_port">Port:</label>
    <input type="text" id="control_agent_port" name="control_agent_port"/>
    <button type="submit">Submit</button>
</form>
<h2>List of Control Agents owned by this user:</h2>
{%for ca in ControlAgents %}
<p>{{ca.ip}}:{{ca.port}}</p>
{%endfor%}
</body>
</html>